*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;}
body {
font-family:"Times New Roman", Sans-serif, Candara, ArialCandara, Calibri, Segoe, Segoe UI, Optima, Arial;
background-color: #000000;}
#contenedor {
	background: url(../imagenes/rayas_03.jpg) no-repeat center top;
	padding: 17px 0px;
	margin-top: 30px;
	padding-left: 104px;
margin-bottom: 0px;
}
#contenedor li{
	margin: 0;
	padding: 0;
	position: relative;
	padding-left: 30px;
}
#menu a{
	text-decoration: none;
	font-size: 30px;
	font-weight: normal;
	padding: 5px 48px;
	color: #828282;
	font-style: "Times New Roman";
}
#playa{
	margin-top: 64px;
}
#creditosdeplaya{
	text-decoration: none;
	color: #494949;
	text-align: center;
}
#creditosdeplaya a{
	text-decoration: none;
	color: #494949;
}
#cine img{
padding-top: 40px;
}

#video iframe{
position: relative;
bottom:650px;
}

#creditosdecine {
text-align: center;
padding-right: 30px;
bottom: 329px;
position: relative;
color: #494949;
text-decoration: none;}

#creditosdecine a{
	color: #494949;
text-decoration: none;
}
#footer{
	background: #4d4c4d;
	text-align: center;
	color: #000000;
	font-size: 18px;
	padding-left: 149px;

}
#footer p{
color: #937a28;
}
#facebook img{
float: right;
padding-top:20px;
margin-right: 130px;


}
#instagram img{
	float: right;
	padding-top: 20px;
margin-right: 30px;
margin-left: 1px;
padding-left: 1px;
}

